Source: gxde-requ
Section: utils
Priority: optional
Maintainer:  shenmo<shenmo@spark-app.store>
Build-Depends: debhelper-compat (= 13), qt5-qmake, qttools5-dev-tools,libdtkwidget2-dev
Standards-Version: 4.5.1
Homepage: https://gitee.com/GXDE-OS/gxde-requ
Rules-Requires-Root: no

Package: gxde-requ
Architecture: any
Multi-Arch: foreign
Replaces: dde-requ
Provides: dde-requ
Conflicts: dde-requ
Depends: ${misc:Depends}, ${shlibs:Depends}, gxde-k9(>=1.3.0), xdotool, x11-utils
Description: A tool to start 热区
 A tool to start 热区